<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <div class="header-container">
          <h2>API Project: Request Header Parser Microservice</h2>
          <h3>Programmer: Brendan </h3>
        </div>
        <div class="button-container">
          <a href="/api/whoami">CLICK TO REVEAL WHO YOU ARE</a>
        </div>
      </div>
      <div class="footer">
        <p>
          <a href="https://tourmaline-headstand.glitch.me/">Glitch App</a> | <a href="https://github.com/B-Musick/request-header-parser">Github Repository</a>
        </p>
      </div>
   </body>


</html>
