/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
	height: 100vh;
}

.container {
	height: 100%;
	padding: 0;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.header-container{

}
.button-container{
	background-color: lightseagreen;
}
.footer {
	margin-top: 40px;
}

a {
	text-decoration: none;
	color: white;
}